<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Category Product List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/delete.js}" ></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="categories" type="java.util.List"*/-->
<!--/*@thymesVar id="category" type="com.tuncerb.domain.Category"*/-->
<!--/*@thymesVar id="products" type="java.util.List"*/-->
<!--/*@thymesVar id="product" type="com.tuncerb.domain.Product"*/-->
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="#" th:href="@{'/'}" >First Project</a></h3>
        </div>

        <ul class="list-unstyled components" th:if="${not #lists.isEmpty(categories)}">
            <li th:each="category : ${categories}">
                <a href="#" th:href="@{'/category/' + ${category.id} + '/product'}" th:text="${category.name}">Kategoriler</a>
            </li>
        </ul>
        <ul class="list-unstyled components">
            <li sec:authorize="isAnonymous()">
                <a href="#" th:href="@{'/login'}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="#" th:href="@{'/register'}">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{'/product/new'}">Add Product</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="#" th:href="@{'/logout'}">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <h1 th:text="${category.name} + ' Products'"></h1>
        <div class="row" th:if="${products.hasContent()}">
            <div class="col-md-4" th:each="product : ${products.getContent()}" style="margin-top: 10px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://picsum.photos/100/180/?random"
                         th:if="${not #lists.isEmpty(product.images)}"
                         th:src="${product.images[0].url}"
                         alt="" height="286">
                    <img class="card-img-top" src="https://picsum.photos/100/180/?random"
                         th:if="${ #lists.isEmpty(product.images)}"
                         th:src="${product.imageUrl}"
                         alt="" height="286">

                    <div class="card-body">
                        <h5 class="card-title hide-text" th:text="${product.name}" >Card title</h5>

                        <p class="card-text hide-text" th:text="${product.description}">Cart Content</p>
                        <div class="row">
                            <a href="#" th:href="${product.originalUrl}" class="btn btn-primary col-md-4" style="margin: 2px;" target="_blank">Explore</a>
                            <a href="#" th:href="@{'/product/' + ${product.id}}" class="btn btn-info col-md-4"  style="margin: 2px;" sec:authorize="isAuthenticated()">show</a>
                            <form th:action="@{'/product/' + ${product.id} }" th:id="'deleteForm_' + ${product.id}" method="post" sec:authorize="isAuthenticated()">
                                <a href="javascript:{}" class="btn btn-danger" style="margin-top: 2px; margin-bottom: 2px;" th:onclick="'remove(\'' + @{'/product/' + ${product.id}} +'\',\''+'deleteForm_'+${product.id} + '\');'">Delete</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <!-- Pagination Bar -->
            <nav th:fragment="paginationbar">
                <ul class="pagination">
                    <li th:class="${products.isFirstPage()}? 'disabled' : 'page-item'">
                        <a class="page-link" th:if="${not products.isFirstPage()}" th:href="@{${products.url}(page=1)}">← First</a>
                    </li>
                    <li th:class="${products.isHasPreviousPage()}? 'page-item' : 'disabled'">
                        <a class="page-link" th:if="${products.isHasPreviousPage()}" th:href="@{${products.url}(page=${products.number-1})}">« Previous</a>
                    </li>
                    <li th:each="item : ${products.getItems()}" th:class="${item.current}? 'sr-only' : 'page-item'">
                        <a class="page-link" th:if="${not item.current}" th:href="@{${products.url}(page=${item.number})}" th:text="${item.number}"></a>
                    </li>
                    <li th:class="${products.isHasNextPage()}? 'page-item' : 'disabled'">
                        <a class="page-link" th:if="${products.isHasNextPage()}" th:href="@{${products.url}(page=${products.number+1})}">Next »</a>
                    </li>
                    <li th:class="${products.isLastPage()}? 'disabled' : 'page-item'">
                        <a class="page-link" th:if="${not products.isLastPage()}" th:href="@{${products.url}(page=${products.getTotalPages()})}">Last →</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


</body>
</html>