<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>404 Not Found Error</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="error">
        <p class="p">4</p>
        <p class="p">0</p>
        <p class="p">4</p>
        <div class="page-ms">
            <p class="page-msg" th:text="${exception.getMessage()}"> Oops, the page you're looking for Disappeared </p>
        </div>
    </div>
</div>

</body>
</html>